<div class="container">
    <form method="post">
        <div class="form-group">
            <label>Ad</label>
            <input class="form-control" type="text" name="Name" />
        </div>
        <br />
        <div class="form-group">

            <label>Soyad</label>
            <input class="form-control" type="text" name="Surname" />
        </div>
        <br />
        <div class="form-group">

            <label>TC</label>
            <input class="form-control" type="text" name="IdentityNo" />
        </div>
        <br />
        <div class="form-group">

            <label>Maaş</label>
            <input class="form-control" type="text" name="Salary" />
        </div>
        <br />
        <div class="form-group">

            <label>Personel Tipi</label>
            <select class="form-control" name="WorkType">
                <option value="0">Sabit Maaş</option>
                <option value="1">Günlük Maaş</option>
                <option value="2">Sabit Maaş + Mesai</option>
            </select>
        </div>
        <br />
        <input type="submit" class="btn btn-outline-success float-end" value="Kaydet" />
    </form>
</div>